<% if(theme.author.github) { %>
<div class="github-card">
<p class="asidetitle"><%= __('github-card') %></p>
<div class="github-card" data-github="<%= theme.author.github %>" data-width="220" data-height="119" data-theme="medium">
<script type="text/javascript" src="//cdn.jsdelivr.net/github-cards/latest/widget.js" ></script>
</div>
  </div>
<% } %>
