<div class="linkslist">
  <p class="asidetitle"><%= __('links') %></p>
    <ul>
      <li><a href="http://yangjian.me" target="_blank" title="YangJian">Alimon's Blog</a></li>
      <li><a href="http://zipperary.com/" target="_blank" title="zippera">Zippera's Blog</a></li>
      <li><a href="http://brotherb.info/" target="_blank" title="brotherb">Spike's Blog</a></li>
      <li><a href="http://hijiangtao.github.io/" target="_blank" title="JiangTao">Data.Blog</a></li>
    </ul>
</div>