<div class="music">
  <p class="asidetitle"><%= __('music') %></p>
    <iframe frameborder="no" border="0" marginwidth="0" marginheight="0" width=100% height=52 src="http://music.163.com/outchain/player?type=0&id=<%= theme.author.music_id %>&auto=1&height=32"></iframe>
</div>