$theme_config = hexo-config("highlight_theme")

if $theme_config == "default"
  highlight-background   = #eee
  highlight-current-line = #efefef
  highlight-line-numbers = #999
  highlight-selection    = #d6d6d6
  highlight-foreground   = #4d4d4c
  highlight-comment      = #8e908c
  highlight-red          = #c82829
  highlight-orange       = #f5871f
  highlight-yellow       = #eab700
  highlight-green        = #718c00
  highlight-aqua         = #3e999f
  highlight-blue         = #4271ae
  highlight-purple       = #8959a8

if $theme_config == "night"
  highlight-background   = #2d2d2d
  highlight-current-line = #393939
  highlight-line-numbers = #666
  highlight-selection    = #515151
  highlight-foreground   = #cccccc
  highlight-comment      = #999999
  highlight-red          = #f2777a
  highlight-orange       = #f99157
  highlight-yellow       = #ffcc66
  highlight-green        = #99cc99
  highlight-aqua         = #66cccc
  highlight-blue         = #6699cc
  highlight-purple       = #cc99cc  