<% if(theme.google_cse.enable) { %>
<div  id="main" class="page">
    <script async src="https://cse.google.com/cse.js?cx=<%=theme.google_cse.cx%>"></script>
    <div class="gcse-search"></div>
</div>
<% } %>